[Desktop Entry]
Type=Application
Name=Skyward
Comment=Location-based reminders for natural & sky events
Exec=skyward
Icon=dev.fritze.Skyward
Categories=Science;Astronomy;Education;
Keywords=eclipse;aurora;meteor;comet;astronomy;sky;
Terminal=false
StartupNotify=true
StartupWMClass=dev.fritze.skyward.desktop.MainKt
